<h1>Clients#index</h1>
<div id="clients">

<%= link_to "New Client", new_client_path %>

  <% @clients.each do |client| %>
    <div>
      <%= link_to client.name, client %>
      <%= client.age %>
    </div>
  <% end %>
</div>
